{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Uploaded Images</h1>

{% include 'flash_messages.html' %}

<div class="image-grid" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 20px;">
    {% for image in images %}
        <div class="card">
            <img src="{{ url_for('get_image', filename=image) }}" class="card-img-top" alt="Uploaded Image" style="width: 100%; height: 250px; object-fit: cover;">
        </div>
    {% endfor %}
</div>

{% endblock %}